<p>tarea works!</p>
<form>
    <div class="form-group" align="center" style="color:hsl(0, 94%, 18%)">
      <label for="exampleFormControlInput1">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" style="background-color: rgb(173, 231, 231);">
    </div>
    <div class="form-group" style="color:hsl(0, 94%, 18%)">
      <label for="exampleFormControlSelect1" style="color:hsl(0, 94%, 18%)">Example select</label>
      <select class="form-control" id="exampleFormControlSelect1" style="background-color: rgb(173, 231, 231);">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group" style="color:hsl(0, 94%, 18%)">
      <label for="exampleFormControlSelect2" style="color:hsl(0, 94%, 18%)">Example multiple select</label>
      <select multiple class="form-control"  id="exampleFormControlSelect2" style="background-color: rgb(173, 231, 231);" >
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group" style="color:hsl(0, 94%, 18%)">
      <label for="exampleFormControlTextarea1" style="color:hsl(0, 94%, 18%)">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="background-color: rgb(173, 231, 231);"></textarea>
    </div>
  </form>

